<!-- <header>
		<div class="container">
			<h1 class="logo">
				Travello
			</h1>
			<section class="social">

			</section>
		</div>
	</header> -->
<div class="login-page">
  <div class="form">
	<div class="container">
    <h3 class="project-name">Upload a New Picture</h3>
    <%= render 'form', picture: @picture %>

	<%#= link_to 'Back', pictures_path %>
	</div>
	</div>
	</div>

